{
  "env": {
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "__dirname": "readonly"
  },
  "rules": {
    "no-new": 0,
    "no-invalid-this": 0,
    "no-unused-expressions": 0
  }
}
