* {
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content{
  min-width: 500px;
  padding-bottom: 1.5em;
  width: 100%;
}
.overlay {
  background: white;
  bottom: 0;
  display: block;
  position: fixed;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  transition: all .25s ease-in-out;
  z-index: 99999;
}

.spinner {
  animation: rotation .7s infinite linear;
  border: 2px solid #d3d3d3;
  border-radius: 100%;
  border-top: solid 2px #333;
  box-sizing: border-box;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  top: 50%;
  width: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2px);
  }
}

ul, li {
  list-style: none;
  padding-left: 0;
}

dl {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.ideal-header {
  text-align: center;
}

.ideal-header:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: inline-block;
}

.logo--ideal {
  width: 64px;
  height: 48px;
  -webkit-transform-origin: 0 0 0px;
  transform-origin: 0 0 0px;
  overflow: auto;
}

.heading--ideal {
  color: #333;
  font-size: 18px;
  padding-top: 9px;
  margin-bottom: 9px;
}

.container--ideal {
  margin: 0 auto;
  width: 500px;
}

.list {
  padding: 0;
  margin: 0;
}

.list--ideal {
  border: solid 1px #e8e8e8;
  border-radius: 6px;
  list-style-type: none;
  overflow: hidden;
}

.list--ideal:after{
  clear: both;
  content: "";
  display: table;
}

.list--heading--ideal {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.list--item--ideal {
  border-bottom: solid 1px #e8e8e8;
  background: #fff;
  float: left;
  width: 50%;
}

.list--item--ideal:last-child, .list--item--ideal:nth-last-child(2):nth-child(odd){
  border-bottom: 0;
}

.list--item--ideal:nth-child(odd){
  border-right: solid 1px #e8e8e8;
}

.list--link {
  background: trasparent;
  color: #333;
  display: block;
  width: 100%;
  padding: 18px 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.list--link:after {
  content: "";
  display: table;
  clear: both;
  background: #f6f6f6;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.list--link:hover {
  box-shadow: inset 0 0 30px #e8e8e8;
  font-weight: 600;
}

.list--link:hover:before {
  opacity: 1;
  right: 5%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.list--link:active {
  background: #efefef;
  box-shadow: inset 0 0 30px #e8e8e8;}

.list--icon {
  margin: 0 auto 8px auto;
  min-width: 36px;
  max-width: 44px;
  width: 8%;
}

.list--name {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
}

.ideal-list-container{
  margin-bottom: 10px;
}

.ideal-list-container:after{
}

.language-selector{
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.language-selector--language{
  color: #333;
}
.language-selector--language:after{
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 2px;
  position: relative;
  top: -1px;
  width: 0;
}
.confirm-view{
  background: #fff;
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
}
.back-btn{
  color: #333;
  display: block;
  font-size: .9em;
  margin-top: 40px;
}
.bank-message{
  font-size: 14px;
  text-align: center;
  margin-top: 10%;
}
.bank-message--logo{
  animation: bounce 1s infinite alternate ease-in-out;
  margin: 0 auto;
  width: 80px;
}
.bank-message--name{
  font-size: 2rem;
  font-weight: bold;
}
.continue-btn{
  background: #2e8ee0;
  border: 0;
  border-radius: .25em;
  bottom: 14px;
  color: #fff;
  cursor: pointer;
  display:none;
  left: 5%;
  margin: 0 auto;
  padding: 14px 0;
  position: absolute;
  width: 90%;
}
.continue-btn:active{
  outline: 0;
}

@media (max-width: 500px) {
  .container--ideal{
    width: 100%;
  }
  
  .content{
    min-width: 200px;
  }

  .list--ideal {
    margin: 0 auto;
    width: 88%;
  }

  .list--heading--ideal {
    margin-left: 5%;
  }

  .logo--ideal {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .bank-message{
    margin-top: 40%;
  }
}

@media (max-width: 300px) {
  .list--item--ideal {
    width: 100%;
  }
  .list--item--ideal:nth-child(odd){
    border-right: 0;
  }
  .list--item--ideal:nth-last-child(2):nth-child(odd){
    border-bottom: 0;
  }
}
